{% extends 'core/base.html' %}

{% block header %}
    Sobre mi
{% endblock header %}

{% block main %}
    <div style="background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;">
        <h2>Hola mundo!</h2>
        <p>Mi nombre es Ivan.</p>
        <p>Me caracterizo por ser dedicado, responsable y trabajar en
        equipo. Habilidad para
        organización, detalles y liderazgo de grupos.
        Cuento con gran motivación para avanzar en mi carrera
        profesional ya que mi objetivo es prosperar como
        desarrollador.
        </p>
    </div>
{% endblock main %}