{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym-Admin</title>
    <link rel="stylesheet" href="{% static 'core/css/navbar.css' %}">
</head>
<body>
    <header>
        <h1 style="text-align: center;">
            {% block header %}
                
            {% endblock header %}
        </h1>
    </header>
    <nav>
        {% include 'core/components/navbar.html' %}
    </nav>
    <main style="display: flex; justify-content: center;">
        {% block main %}
            
        {% endblock main %}
    </main>
    <footer>
        {% include 'core/components/footer.html' %}
    </footer>
</body>
</html>