{% load static %}
<div class="navbar">
    <button>
        <a href="{% url 'core:index' %}">Inicio</a>
    </button>
    <button>
        <a href="{% url 'core:about' %}">Sobre mi.</a>
    </button>
    {% if user.is_authenticated %}
    <button>
        <a href="{% url 'clientes:index' %}">Clientes</a>
    </button>
    <button>
        <a href="{% url 'entrenadores:index' %}">Entrenadores</a>
    </button>
    <button>
        <a href="{% url 'entrenadores:clase_list' %}">Clases</a>
    </button>
    <button>
        <a href="{% url 'accounts:profile' %}">
                {{ user.username }}
            {% if user.empleado.avatar %}
                <img src="{{user.empleado.avatar.url}}" alt="Imagen de perfil" height="50px" width="50px">
            {% else %}
                <img src="{% static 'core/img/idstockphoto.jpg' %}" alt="Imagen de perfil predeterminada" height="25px" width="25px">
            {% endif %}
        </a>
    </button>
    <form action="{% url 'accounts:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Cerrar sesion</button>
    </form>
    {% else %}
    <button>
        <a href="{% url 'accounts:login' %}">Inciar sesion</a>
    </button>
    {% endif %}
</div>